.container {
  background: #182849;
  display: flex;
  justify-content: center;
}

.exercise_box {
  background: #ffffff;
  max-width: 1004px;
  border-radius: 20px;
  width: 100%;
  margin-top: -80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 80px 40px;
}

.exercise_title {
  font-size: 2.625rem;
  margin-bottom: 1.25rem;
}

.tab_list {
  list-style-type: none;
  cursor: pointer;
  display: flex;
  margin-bottom: 2.75rem;
}

.tab_item {
  margin-right: 25px;
  padding: 10px 20px;
  position: relative;
}

.tab_item:last-of-type {
  margin-right: 0;
}

.tab_item::after {
  display: inline-block;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #80334b;
  opacity: 0;
  transition: all 0.2s;
}

.tab_item:hover::after {
  opacity: 1;
}

:global .react-tabs__tab--selected {
  position: relative;
  font-weight: bold;
}

:global .react-tabs__tab--selected::after {
  display: inline-block;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #80334b;
  opacity: 1;
}

.tab_item:hover::after {
  opacity: 1;
}

.exercise_content {
  display: flex;
  align-items: center;
}

.exercise_content img {
  max-width: 409px;
  margin-right: 6.25rem;
}

.exercise_text {
  align-self: center;
}

.exercise_text h3 {
  font-size: 1.375rem;
  margin-bottom: 2rem;
}

.exercise_text p {
  font-size: 1rem;
}

@media (max-width: 800px) {
  .exercise_box {
    padding: 20px;
  }
  .exercise_content {
    flex-direction: column;
    align-items: center;
  }

  .exercise_content img {
    margin-right: 0;
    margin-bottom: 10px;
    width: 90%;
  }
}
